@model PledgeManager.Web.ViewModels.CampaignDashboardViewModel
@using PledgeManager.Web.Controllers
@{
    ViewData["Title"] = "Campaign dashboard";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="row">
    <div class="col-12">
        <h1>Dashboard</h1>

        @if (Model.Notification != null) {
            <div id="notification" class="alert @((Model.Notification.IsError) ? "alert-danger" : "alert-primary")" role="alert">
                @Model.Notification.Message
            </div>
        }

        <h3>General commands</h3>

        <form method="post" action="@Url.Action(nameof(CampaignAdminController.ImportKickstarterBackers), "CampaignAdmin", new { campaignCode = Model.Campaign.Code })" enctype="multipart/form-data" class="form-inline" role="form">
            <label for="backerFile">Kickstarter backer file (CSV):</label>
            <input name="backerFile" type="file" class="input-form-control" accept="text/*" />

            <button type="submit" class="btn btn-danger">Upload</button>
        </form>

        <form method="post" action="@Url.Action(nameof(CampaignAdminController.SendInvitations), "CampaignAdmin", new { campaignCode = Model.Campaign.Code })" class="form-inline" role="form">
            <label for="backerFile">Send invitations to all backers:</label>

            <button type="button" class="btn btn-danger" data-target="#sendInvitationsConfirmation" data-toggle="modal">Send invitations</button>

            <div class="modal fade" id="sendInvitationsConfirmation" tabindex="-1" role="dialog" aria-labelledby="modalConfirmationCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalConfirmationCenterTitle">Send invitations?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Send invitations to all backers?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Send!</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form method="post" action="@Url.Action(nameof(CampaignAdminController.ExportCsv), "CampaignAdmin", new { campaignCode = Model.Campaign.Code })" class="form-inline">
            <button type="submit" class="btn btn-success">Download backer CSV</button>
        </form>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3>Pledges</h3>

        <p><b>@Model.PledgeCount</b>&nbsp;total pledges, of which <b>@Model.ClosedPledgeCount</b>&nbsp;closed.</p>

        <div class="table-responsive">
            <table class="table table-sm table-double-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Reward</th>
                        <th scope="col">Pledge</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>

                @foreach (var item in Model.Pledges) {
                    var pledge = item.Pledge;
                
                    <tr>
                        <th scope="row" rowspan="2">
                            @pledge.UserId
                        </th>
                        <td>
                            @pledge.Shipping?.GivenName
                            @pledge.Shipping?.Surname
                        </td>
                        <td>
                            <a href="mailto:@pledge.Email">
                                @pledge.Email
                            </a>
                        </td>
                        <td>
                            @if(pledge.CurrentRewardLevel != pledge.OriginalRewardLevel) {
                                <img src="~/arrow-up-circle.svg" class="icon" />
                            }
                            else {
                                <img src="~/circle.svg" class="icon" />
                            }
                            @pledge.CurrentRewardLevel
                        </td>
                        <td class="text-right">
                            @pledge.CurrentPledge.ToString("F2")&nbsp;€
                            @if(pledge.CurrentPledge > pledge.OriginalPledge) {
                                <img src="~/arrow-up-circle.svg" class="icon" />
                            }
                            else {
                                <img src="~/circle.svg" class="icon" />
                            }
                        </td>
                        <td>
                            @if(pledge.IsClosed) {
                                <img src="~/check-circle.svg" class="icon" />
                            }
                            else if(pledge.LastAccess.HasValue) {
                                <img src="~/eye.svg" class="icon" />
                            }
                            else {
                                <img src="~/eye-off.svg" class="icon" />
                            }

                            <a href="@Url.Action(nameof(PledgeController.Index), "Pledge", new { campaignCode = Model.Campaign.Code, userId = pledge.UserId, token = pledge.UserToken })">
                                <img src="~/link.svg" class="icon" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div class="form-line">
                                @if (!pledge.IsClosed) {
                                <form action="@Url.Action(nameof(CampaignAdminController.SendInvite), "CampaignAdmin", new { campaignCode = Model.Campaign.Code })" method="post">
                                    <input type="hidden" name="userId" value="@pledge.UserId" />

                                    <button type="submit" class="btn btn-primary btn-sm">Send invite</button>
                                </form>

                                <form action="@Url.Action(nameof(CampaignAdminController.SendReminder), "CampaignAdmin", new { campaignCode = Model.Campaign.Code })" method="post">
                                    <input type="hidden" name="userId" value="@pledge.UserId" />

                                    <button type="submit" class="btn btn-primary btn-sm">Send reminder</button>
                                </form>
                                }
                            </div>
                        </td>
                    </tr>

                }
                </tbody>
            </table>
        </div>

    </div>
</div>
