@model PledgeManager.Web.ViewModels.PledgeClosedViewModel
@using PledgeManager.Web
@{
    ViewData["Title"] = "Gestione offerta";
    ViewData["CoverUrl"] = Model.Campaign.CoverUrl;
    Layout = "~/Views/Shared/Main.cshtml";
}

<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h1>Offerta finalizzata</h1>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">

        <p>La tua offerta è stata finalizzata e correttamente registrata. Non resta altro che mettersi comodi ed aspettare. 😉</p>

        <p>
            Il tuo indirizzo di consegna:<br />
            @Model.Pledge.Shipping.GivenName&nbsp;@Model.Pledge.Shipping.Surname<br />
            @Model.Pledge.Shipping.Address<br />
            @if(Model.Pledge.Shipping.AddressSecondary != null) {
                @Model.Pledge.Shipping.AddressSecondary<br />
            }
            @Model.Pledge.Shipping.ZipCode&nbsp;@Model.Pledge.Shipping.City&nbsp;(@Model.Pledge.Shipping.Province)<br />
            @Model.Pledge.Shipping.Country
        </p>

        <h3>Ricompensa</h3>
        <ul class="list-group order-summary">
            <li class="list-group-item list-group-item-primary">
                <b>@Model.CurrentReward.Title</b>
            </li>
            @foreach (var addon in Model.AddedAddOns) {
            <li class="list-group-item">
                @addon.AddOn.Title
                @if(addon.Variant != null) {
                    <span class="badge badge-secondary">@addon.Variant</span>
                }
            </li>
            }
        </ul>

        <h3>Risposte al sondaggio</h3>
        <ul class="list-group">
        @foreach(var survey in Model.Campaign.Survey) {
            if (!string.IsNullOrEmpty(Model.Pledge.Survey.ReadSurveyValueToHuman(survey))) {
            <li class="list-group-item">
                <h5 class="mb-1">@survey.Title</h5>
                @Model.Pledge.Survey.ReadSurveyValueToHuman(survey)
            </li>
            }
        }
        </ul>

        <p>Di nuovo, grazie per il tuo supporto!</p>

        <hr />

        <p>Per qualsiasi dubbio o domanda, puoi <a href="mailto:@(Model.Campaign.SupportEmailAddress)?subject=Pledge @(Model.Pledge.UserId)">rivolgerti a noi via e-mail</a> facendo riferimento al contributo <code>#@(Model.Pledge.UserId)</code>.</p>

    </div>
</div>
