@model PledgeManager.Web.ViewModels.PledgeShowViewModel
@{
    ViewData["Title"] = "Gestione offerta";
    ViewData["CoverUrl"] = Model.Campaign.CoverUrl;
    Layout = "~/Views/Shared/Main.cshtml";
}

<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <h1>La tua offerta</h1>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">

        <h3>Spedizione / Shipping</h3>

        @using (Html.BeginForm("UpdateShipping", "Pledge", new { campaign = Model.Campaign.Code, userId = Model.Pledge.UserId, token = Model.Pledge.UserToken })) {
            <div class="form-group">
                <label for="inputShippingAddress">Indirizzo / Address</label>
                <input type="text" class="form-control" name="inputShippingAddress" id="inputShippingAddress" placeholder="Via dei Dodici, 12" value="@Model.Pledge?.Shipping?.Address" />
            </div>

            <div class="form-row">
                <div class="form-group col-sm-3">
                    <label for="inputShippingZip">CAP / ZIP</label>
                    <input type="text" class="form-control" name="inputShippingZip" id="inputShippingZip" value="@Model.Pledge?.Shipping?.ZipCode" />
                </div>
                <div class="form-group col-sm-6">
                    <label for="inputShippingCity">Città / City</label>
                    <input type="text" class="form-control" name="inputShippingCity" id="inputShippingCity" value="@Model.Pledge?.Shipping?.City" />
                </div>
                <div class="form-group col-sm-3">
                    <label for="inputShippingProvince">Prov. / State</label>
                    <input type="text" class="form-control" name="inputShippingProvince" id="inputShippingProvince" value="@Model.Pledge?.Shipping?.Province" />
                </div>
            </div>

            <div class="form-group">
                <label for="inputShippingCountry">Paese / Country</label>
                <input type="text" class="form-control" name="inputShippingCountry" id="inputShippingCountry" placeholder="Italia" value="@Model.Pledge?.Shipping?.Country" />
            </div>

            <button type="submit" class="btn btn-primary">Aggiorna indirizzo</button>
        }

        <hr />

        <p>Pledge: @Model.Pledge.Id</p>

        <p>Original @Model.Pledge.OriginalPledge, now @Model.Pledge.CurrentPledge</p>

        <p>Campaign: @Model.Campaign.Id</p>

        <p>Current reward: @Model.CurrentReward.Code</p>

        <p>Upgrade paths:</p>
        <ul>
            @foreach (var upgrade in Model.UpgradePaths) {
                <li>To @upgrade.Reward.Title for @upgrade.UpgradeCost</li>
            }
        </ul>

        <p>Addons:</p>
        <ul>
            @foreach (var addon in Model.AddOns) {
                <li>@addon.AddOn.Title × @addon.Count (@addon.Variant)</li>
            }
        </ul>

        <p>Final cost: @Model.FinalCost</p>

        <p>Can be closed: @Model.CanBeClosed</p>

    </div>
</div>
